<!-- Name: Yashwanth Paranthaman
Student Id: 101282474 -->

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

h1{
  color: white;
  background-color: indigo;
  text-align: center;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
}

#output{
  width = 100%;
  text-align: center;
}

#output p{
  color: red;
}
a:link{
  text-decoration: none;
}

/* @supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
} */

/* only two column for 800px or less screen width */
@media screen and (min-width: 601px && max-width: 1200px) {
  .column{
      flex: 40%;
      max-width: 40%;
      margin: 5px;
      padding: 5px;

  }
}

/* only one column for 600px or less screen width */
@media screen and (max-width: 600px) {
  .column{
      flex: 100%;
      max-width: 100%;
      margin: 5px;
      padding: 5px;
  }
}
